#livechat-chat-box {
	width:70%;
	float:left;
}

#bp-livechat-chat-container {
	border:1px solid silver;
	height:400px;
	margin-top:5px;
	margin-right:5px;
	padding-left:3px;
	overflow:scroll;
}

#livechat-users-online-container {
	width:30%;
	float:right;">
}